svg{
    width: 24;
    height: 24;
}

a.signIn {
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #4285f4;
    outline: none;
    background: #4285f4;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
}
a:hover {
    text-decoration: underline;
}
a {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
        margin-left: 5px;
    color: #222;
    text-decoration: none;
}

div.top_right_buttons{
    position:relative
}
div.top_push_right{
    float: right;
}

div.top_end{
    flex-grow: 1;
    align-items: center;
    display: flex;
}

div.top {
    align-items: center;
    display: flex;
}
div{
    display: block;
}
body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}